<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="Test2ConnectionString" connectionString="Server=localhost;Database=Test2;Integrated Security=true;"
      providerName="System.Data.ProviderName" />
    <add name="Test.Properties.Settings.Test2ConnectionString" connectionString="Data Source=.;Initial Catalog=Test2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
